mixin product-main(data)
    - const prodIMG = ['images/product-main__gallery-one.webp','images/product-main__gallery-two.webp','images/product-main__gallery-three.webp','images/product-main__gallery-fore.webp','images/product-main__gallery-five.webp','images/product-main__gallery-six.webp',]
    - const discProd = ['Свободный крой','Круглый вырез горловины из трикотажной резинки','Спущенные плечи','Принт на лицевой стороне']
    - const colors = [{hex:'#8C8C8C', name:'Серый'}]
    - const sizes = ['O','OS']
    - const careClothes = ['Ручная или машинная стирка до 30°С','Стирать с аналогичными цветами','Отжим запрещен','Сушка в сушильной машине запрещена']
    section.product-main
        .container.product-main__container
            .product-main__info-product
                h1.info-product__title Тишка “7/11”
                .info-product__price 6500 р
                .info-product__discription-block
                    .discription-block__title.info-product__mini-title Описание товара
                    .discription-block__richtext
                        p Крутая оверсайз футболка с качественным принтом известного по всему миру спота для инфлюенсеров и любителей красивых фото.
                        ul
                            each item in discProd
                                li=item
                .info-product__compound-block
                    .compound-block__title.info-product__mini-title Состав
                    .compound-block__richtext
                        p 46% хлопок, 46% полиэстер, 8% эластан
                .info-product__application-block
                    .application-block__title.info-product__mini-title Нанесение
                    .application-block__richtext DTF
                .info-product__color-block
                    .color-block__title.info-product__mini-title Цвет
                    ul.color-block__list
                        each item in colors
                            li(style=`--bg:${item.hex}`).color-block__item
                                span=item.name
                .info-product__sizes-block
                    .sizes-block__title.info-product__mini-title Размеры
                    ul.sizes-block__list
                        each item in sizes
                            lil.sizes-block__item=item
                .product-main__add-product
                    button.button.add-product__button Добавить в корзину
                    button.add-product__wish
                        <?xml version="1.0" encoding="UTF-8"?>
                            <svg fill="none" viewBox="0 0 18 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="m8.9108 3.4491c0.98925-1.6713 1.995-3.2086 3.8026-3.4186 3.3941-0.3963 6.5156 3.1376 4.8018 6.6163-0.4878 0.99074-1.481 2.1692-2.5796 3.3253-1.2056 1.2694-2.54 2.5134-3.4746 3.4565l-2.5488 2.5714-2.1064-2.0619c-2.5342-2.4821-6.6664-5.6063-6.8027-9.4768-0.095214-2.7115 2.0083-4.4486 4.4282-4.4174 2.1621 0.029797 3.6687 1.7339 4.4795 3.4052z" clip-rule="evenodd" fill="#000" fill-rule="evenodd"/>
                            </svg>

                ul.product-main__faq-prod
                    li.faq-prod__item
                        button.faq-prod__button Уход
                            +image({src:'images/arrow-down.svg'})
                        .faq-prod__richtext
                            ul
                                each item in careClothes
                                    li=item
                    li.faq-prod__item
                        button.faq-prod__button Оплата и доставка
                            +image({src: 'images/arrow-down.svg'})
                        .faq-prod__richtext
                            p Доставка осуществляется при помощи курьерской службой СДЭК, которая осуществляет доставку по всей территории России*.
                            p Оплата доставки рассчитывается индивидуально в зависимости города получателя и объёма заказа и оплачивается при получении.
                            p Наша служба поддержки клиентов всегда готова помочь с выбором оптимального способа доставки и ответить на все ваши вопросы:
                            a(href='tel:+79991234567') +7 (999) 123-45-67
                            span *Сроки доставки в периоды распродаж и праздничных дней могут быть увеличены.

            ul.product-main__gallery-list
                each item in prodIMG
                    li.product-main__gallery-item
                        +image({src: item,klassImg:'product-main__img',klassPic:'product-main__pic'})
            ul.product-main__thumb-list
                each item in prodIMG
                    li.product-main__thumb-item
                        +image({src:item,klassImg:'product-main__img',klassPic:'product-main__pic'})